.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  max-height: 4em;
  margin: 0.5rem 0;
  border: 1px solid rgb(209, 209, 209);
  background: rgb(249, 249, 249);
  transition: background-color 0.5s ease;
}

.card:hover {
  background-color: rgb(235, 235, 235);
}

.card__content {
  padding: 1rem 1rem;
}

.card__header {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.card__meta {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: 0.8rem;
  color: rgb(161, 161, 161);
}
