.app-container {
  display: flex;
  height: 100%;
}

.app__map {
  height: 100%;
  flex: auto;
}

.app__map-controls {
  height: 100%;
  width: 16rem;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

.app__map-controls--checkbox {
  display: flex;
}

.app__map-controls--checkbox_master {
  margin-bottom: 0.5rem;
  display: block;
}

.app__map-controls--field-list {
  overflow-y: auto;
  margin-top: 2rem;
  padding-bottom: 1rem;
  flex: auto;
}
