.app-container {
  display: flex;
  height: 100%;
}

.app__map {
  height: 100%;
  flex: auto;
}

.app__map-controls {
  margin-top: 80px;
  height: 100%;
  width: 16rem;
  padding: 0 0.5rem;
  overflow-y: auto;
}

.app__map-controls--checkbox {
  display: block;
}
