.app-container {
  display: flex;
  height: 100%;
}

.app-container__map {
  height: 100%;
  flex: auto;
}

.app-container__list {
  height: 100%;
  width: 16rem;
  padding: 0 0.5rem;
  overflow-y: auto;
}
