<div class="app-container">
  <section class="app__map" id="map"></section>
  <section class="app__map-controls" id="controls">
    <h1>Mapbox controls</h1>
    <label class="app__map-controls--checkbox">
      <input
        type="checkbox"
        [(ngModel)]="showFields"
        name="fieldsToggle"
        value="fieldsToggle"
        (change)="toggleFieldsVisibility()"
      />
      show/hide fields
    </label>
    <div>filter fields by area size</div>
    <label class="app__map-controls--checkbox">
      <input
        type="checkbox"
        [(ngModel)]="masterSelected"
        name="list_name"
        value="masterSelected"
        (change)="checkUncheckAll()"
      />
      select/ unselect all fields
    </label>

    <label *ngFor="let item of checklist" class="app__map-controls--checkbox">
      <input
        type="checkbox"
        [(ngModel)]="item.isSelected"
        name="list_name"
        value="{{ item.id }}"
        (change)="isAllSelected()"
      />
      {{ item.displayText }}
    </label>
    <app-card
      *ngFor="let feature of filteredFields"
      (click)="navigateToField(feature)"
      [feature]="feature"
    ></app-card>
  </section>
</div>
